<a href="https://colab.research.google.com/github/vamshi12vamshi/project-/blob/main/imbd_sqllite_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![IMDb_Header_Page.jpg]()

**.**This Database Contains Two Tables. The First Table Is Called 'directors', Contains The Name Of The Director And His Gender. The Second Table Is Called 'movies', Contains The Title Of The Movies, budget, revenue, popularity, etc.

**.**From This database, You Can Find Out The Best Movies Based On Income, Popularity And Votes. In Addition, You Can Also Find Out The Best Director Based On The Amount Of Revenue From All His Movies.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import warnings
warnings.filterwarnings('ignore')

**SQLite** :SQLite database is integrated with the application that accesses the database. The applications interact with the SQLite database read and write directly from the database files stored on disk.


---



---

**We import the sqlite3 module and then create a connection object which will connect us to the database and will let us execute the SQL statements**.

.sqlite3.connect(Database)

.**cursor**() - we can use the cursor object to call the execute() method to execute any SQL queries.
**STEPS**
To query data in an SQLite database from Python, you use these steps:

.First, establish a connection to the SQLite database by creating a Connection object.

.Next, create a Cursor object using the cursor method of the Connection object.

.Then, execute a SELECT statement.

.After that, call the fetchall() method of the cursor object to fetch the data.

.Finally, loop the cursor and process each row individually.

**1.Establishing the connection to the database**

In [2]:
db="/content/drive/MyDrive/imbd sql/movies.sqlite"
#This line establishes a connection to the specified SQLite database file. If the file doesn't exist, it will be created. If it does exist, the connection will be made to the existing database.
conn=sqlite3.connect(db)
cur=conn.cursor()
#Using the cursor, you can execute various SQL queries and commands.

1.Get all data about movies

In [3]:

#use the cursor object to call the execute() method to execute any SQL queries.
cur.execute("SELECT * FROM movies")

movies=cur.fetchall()
#movies -> if u print movies , all the data shown in list manner, can't understanadble

#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.
movies=pd.DataFrame(movies,columns=['id','Original_title','Budget','Popularity','Release_date','Revenue','Title','Vote_average'
                                      ,'vote_count','Overview','Tagline','UID','Director_id'])
#Creating a dataframe, A dataframe contains rows and columns , It is a Two-dimensional, size-mutable, potentially heterogeneous tabular data.

The **cur.execute()** method is typically used in Python when working with databases to execute SQL queries.

.The **cur.fetchall()** method is used in Python when working with database cursors to retrieve all the rows resulting from a SELECT query executed using cur.execute() on a database cursor

In [4]:
movies

,id,Original_title,Budget,Popularity,Release_date,Revenue,Title,Vote_average,vote_count,Overview,Tagline,UID,Director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bonds past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,6.6,238,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,5.9,5,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",7.0,6,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,5.7,7,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,6.3,16,Ever since the second grade when he first saw ...,None,25975,7110

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   Original_title  4773 non-null   object
 2   Budget          4773 non-null   int64
 3   Popularity      4773 non-null   int64
 4   Release_date    4773 non-null   object
 5   Revenue         4773 non-null   int64
 6   Title           4773 non-null   object
 7   Vote_average    4773 non-null   float64
 8   vote_count      4773 non-null   int64
 9   Overview        4770 non-null   object
 10  Tagline         3951 non-null   object
 11  UID             4773 non-null   int64
 12  Director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

**2.Get all data from directors**

In [6]:
cur.execute("SELECT * FROM directors")
#use the cursor object to call the execute() method to execute any SQL queries.

directors=cur.fetchall()
#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.

In [7]:
#raw data
directors

[('James Cameron', 4762, 2, 2710, 'Directing'),
 ('Gore Verbinski', 4763, 2, 1704, 'Directing'),
 ('Sam Mendes', 4764, 2, 39, 'Directing'),
 ('Christopher Nolan', 4765, 2, 525, 'Directing'),
 ('Andrew Stanton', 4766, 2, 7, 'Directing'),
 ('Sam Raimi', 4767, 2, 7623, 'Directing'),
 ('Byron Howard', 4768, 2, 76595, 'Directing'),
 ('Joss Whedon', 4769, 2, 12891, 'Directing'),
 ('David Yates', 4770, 2, 11343, 'Directing'),
 ('Zack Snyder', 4771, 2, 15217, 'Directing'),
 ('Bryan Singer', 4772, 2, 9032, 'Directing'),
 ('Marc Forster', 4773, 2, 12995, 'Directing'),
 ('Andrew Adamson', 4774, 2, 5524, 'Directing'),
 ('Rob Marshall', 4775, 2, 17633, 'Directing'),
 ('Barry Sonnenfeld', 4776, 2, 5174, 'Directing'),
 ('Peter Jackson', 4777, 2, 108, 'Directing'),
 ('Marc Webb', 4778, 2, 87742, 'Directing'),
 ('Ridley Scott', 4779, 2, 578, 'Directing'),
 ('Chris Weitz', 4780, 0, 3288, 'Directing'),
 ('Anthony Russo', 4781, 2, 19271, 'Directing'),
 ('Peter Berg', 4782, 2, 36602, 'Directing'),
 ('Colin Trevorrow', 4783, 2, 930707, 'Directing'),
 ('Shane Black', 4784, 2, 1108, 'Directing'),
 ('Tim Burton', 4785, 2, 510, 'Directing'),
 ('Brett Ratner', 4786, 2, 11091, 'Directing'),
 ('Dan Scanlon', 4787, 2, 225976, 'Directing'),
 ('Michael Bay', 4788, 2, 865, 'Directing'),
 ('Joseph Kosinski', 4789, 2, 86270, 'Directing'),
 ('John Lasseter', 4790, 2, 7879, 'Directing'),
 ('Martin Campbell', 4791, 2, 10702, 'Directing'),
 ('Lee Unkrich', 4792, 2, 8, 'Directing'),
 ('McG', 4793, 2, 36425, 'Directing'),
 ('James Wan', 4794, 2, 2127, 'Directing'),
 ('J.J. Abrams', 4795, 2, 15344, 'Directing'),
 ('Baz Luhrmann', 4796, 2, 6201, 'Directing'),
 ('Mike Newell', 4797, 2, 10723, 'Directing'),
 ('Guillermo del Toro', 4798, 2, 10828, 'Directing'),
 ('Steven Spielberg', 4799, 2, 488, 'Directing'),
 ('Peter Sohn', 4800, 2, 21198, 'Directing'),
 ('Brenda Chapman', 4801, 1, 59803, 'Directing'),
 ('Justin Lin', 4802, 0, 58189, 'Directing'),
 ('Roland Emmerich', 4803, 2, 6046, 'Directing'),
 ('Robert Zemeckis', 4804, 2, 24, 'Directing'),
 ('Lilly Wachowski', 4805, 1, 9339, 'Directing'),
 ('Pete Docter', 4806, 2, 12890, 'Directing'),
 ('Conrad Vernon', 4807, 2, 12080, 'Directing'),
 ('Jon Favreau', 4808, 2, 15277, 'Directing'),
 ('Martin Scorsese', 4809, 2, 1032, 'Directing'),
 ('Rob Cohen', 4810, 2, 18878, 'Directing'),
 ('David Ayer', 4811, 0, 19769, 'Directing'),
 ('Tom Shadyac', 4812, 2, 4499, 'Directing'),
 ('Doug Liman', 4813, 2, 11694, 'Directing'),
 ('Kevin Reynolds', 4814, 0, 8300, 'Directing'),
 ('Stephen Sommers', 4815, 2, 7775, 'Directing'),
 ('Rupert Sanders', 4816, 2, 228134, 'Directing'),
 ('Robert Stromberg', 4817, 0, 1032536, 'Directing'),
 ('Matt Reeves', 4818, 2, 32278, 'Directing'),
 ('Roland Joff', 4819, 0, 8965, 'Directing'),
 ('Carl Rinsch', 4820, 0, 239571, 'Directing'),
 ('Mike Mitchell', 4821, 2, 64151, 'Directing'),
 ('Brad Bird', 4822, 2, 7087, 'Directing'),
 ('Chris Williams', 4823, 2, 70238, 'Directing'),
 ('Rich Moore', 4824, 2, 165787, 'Directing'),
 ('Chris Sanders', 4825, 2, 66193, 'Directing'),
 ('Jonathan Mostow', 4826, 2, 7213, 'Directing'),
 ('James Gunn', 4827, 2, 15218, 'Directing'),
 ('Hideaki Anno', 4828, 2, 77921, 'Directing'),
 ('David Fincher', 4829, 2, 7467, 'Directing'),
 ('Matthew Vaughn', 4830, 2, 957, 'Directing'),
 ('Francis Lawrence', 4831, 2, 10943, 'Directing'),
 ('Jon Turteltaub', 4832, 2, 12962, 'Directing'),
 ('Wolfgang Petersen', 4833, 2, 5231, 'Directing'),
 ('James Bobin', 4834, 0, 26205, 'Directing'),
 ('Chris Miller', 4835, 2, 12098, 'Directing'),
 ('Duncan Jones', 4836, 2, 81850, 'Directing'),
 ('Alan Taylor', 4837, 2, 47005, 'Directing'),
 ('Michael Apted', 4838, 2, 10781, 'Directing'),
 ('Oliver Stone', 4839, 2, 1152, 'Directing'),
 ('Jan Pinkava', 4840, 2, 7930, 'Directing'),
 ('Eric Darnell', 4841, 2, 18863, 'Directing'),
 ('Shawn Levy', 4842, 2, 17825, 'Directing'),
 ('Gavin Hood', 4843, 2, 13079, 'Directing'),
 ('Chris Buck', 4844, 0, 15774, 'Directing'),
 ('George Miller', 4845, 2, 20629, 'Directing'),
 ('Ron Howard', 4846, 2, 6159, 'Directing'),
 ('Kenneth Branagh', 4847, 2, 11181, 'Directing'),
 ('Hoyt Yeatman', 4848, 0, 84851, 'Directing'),
 ('Jonathan Liebesman', 4849, 0, 66739, 'Directing'),
 ('Christopher McQuarrie', 4850, 0, 9033, 'Directing'),
 ('Joe Johnston', 4851, 2, 4945, 'Directing'),
 ('Steve Hickner', 4852, 2, 44113, 'Directing'),
 ('Jennifer Yuh Nelson', 4853, 1, 142312, 'Directing'),
 ('M. Night Shyamalan', 4854, 2, 11614, 'Directing'),
 ('Simon Wells', 4855, 2, 21879, 'Directing'),
 ('David Bowers', 4856, 2, 33183, 'Directing'),
 ('Joe Wright', 4857, 2, 36588, 'Directing'),
 ('Rob Minkoff', 4858, 2, 18898, 'Directing'),
 ('Lee Tamahori', 4859, 2, 7256, 'Directing'),
 ('Paul Feig', 4860, 2, 116805, 'Directing'),
 ('Peter Ramsey', 4861, 2, 151007, 'Directing'),
 ('Dean Parisot', 4862, 2, 15002, 'Directing'),
 ('Edward Zwick', 4863, 2, 9181, 'Directing'),
 ('Dean DeBlois', 4864, 2, 69797, 'Directing'),
 ('Alex Proyas', 4865, 2, 21085, 'Directing'),
 ('Richard Donner', 4866, 2, 7187, 'Directing'),
 ('Ang Lee', 4867, 2, 1614, 'Directing'),
 ('Jon M. Chu', 4868, 2, 54507, 'Directing'),
 ('Breck Eisner', 4869, 2, 52609, 'Directing'),
 ('Hironobu Sakaguchi', 4870, 0, 21692, 'Directing'),
 ('Peter Weir', 4871, 2, 2690, 'Directing'),
 ('Bill Condon', 4872, 2, 15557, 'Directing'),
 ('Louis Leterrier', 4873, 2, 18865, 'Directing'),
 ('Alejandro Gonzlez Irritu', 4874, 2, 223, 'Directing'),
 ('David Soren', 4875, 0, 94075, 'Directing'),
 ('Paul Greengrass', 4876, 2, 25598, 'Directing'),
 ('Mark Osborne', 4877, 2, 57741, 'Directing'),
 ('Peyton Reed', 4878, 2, 59026, 'Directing'),
 ('Tim Johnson', 4879, 2, 52870, 'Directing'),
 ('Phillip Noyce', 4880, 2, 13015, 'Directing'),
 ('Darren Aronofsky', 4881, 2, 6431, 'Directing'),
 ('Alfonso Cuarn', 4882, 2, 11218, 'Directing'),
 ('Ralph Zondag', 4883, 2, 65855, 'Directing'),
 ('Tom McGrath', 4884, 2, 18864, 'Directing'),
 ('Chris Columbus', 4885, 2, 10965, 'Directing'),
 ('Robert Schwentke', 4886, 2, 57270, 'Directing'),
 ('Carlos Saldanha', 4887, 2, 5714, 'Directing'),
 ('Guy Ritchie', 4888, 2, 956, 'Directing'),
 ('Paul Verhoeven', 4889, 2, 10491, 'Directing'),
 ('John McTiernan', 4890, 0, 1090, 'Directing'),
 ('Tony Gilroy', 4891, 2, 19242, 'Directing'),
 ('Joel Schumacher', 4892, 2, 5572, 'Directing'),
 ('John Woo', 4893, 2, 11401, 'Directing'),
 ('Tim Story', 4894, 2, 20400, 'Directing'),
 ('Mark Steven Johnson', 4895, 2, 16837, 'Directing'),
 ('Neill Blomkamp', 4896, 2, 82194, 'Directing'),
 ('David Twohy', 4897, 0, 28239, 'Directing'),
 ('Jos Padilha', 4898, 2, 52576, 'Directing'),
 ('James L. Brooks', 4899, 2, 3388, 'Directing'),
 ('James Mangold', 4900, 2, 366, 'Directing'),
 ('George Lucas', 4901, 2, 1, 'Directing'),
 ('Thomas Langmann', 4902, 2, 20674, 'Directing'),
 ('Cedric Nicolas-Troyan', 4903, 0, 1454884, 'Directing'),
 ('Roger Donaldson', 4904, 2, 21370, 'Directing'),
 ('Dave Green', 4905, 0, 1101410, 'Directing'),
 ('Josh Trank', 4906, 2, 934803, 'Directing'),
 ('Brad Peyton', 4907, 2, 132876, 'Directing'),
 ('Roger Spottiswoode', 4908, 2, 1724, 'Directing'),
 ('Steven Soderbergh', 4909, 2, 1884, 'Directing'),
 ('Rob Letterman', 4910, 0, 65630, 'Directing'),
 ('Michel Gondry', 4911, 2, 201, 'Directing'),
 ('Noam Murro', 4912, 0, 78914, 'Directing'),
 ('Raja Gosnell', 4913, 2, 1215, 'Directing'),
 ('Will Finn', 4914, 2, 70287, 'Directing'),
 ('Jan de Bont', 4915, 2, 2209, 'Directing'),
 ('Len Wiseman', 4916, 2, 3950, 'Directing'),
 ('Frank Coraci', 4917, 2, 57370, 'Directing'),
 ('Michael Mann', 4918, 2, 638, 'Directing'),
 ('Bo Welch', 4919, 2, 5133, 'Directing'),
 ('Ron Clements', 4920, 2, 15810, 'Directing'),
 ('Peter Chelsom', 4921, 2, 36804, 'Directing'),
 ('Dominic Sena', 4922, 2, 58498, 'Directing'),
 ('Tony Scott', 4923, 2, 893, 'Directing'),
 ('Paul Weitz', 4924, 2, 3289, 'Directing'),
 ('Adam McKay', 4925, 2, 55710, 'Directing'),
 ('Chuck Russell', 4926, 2, 26713, 'Directing'),
 ('Quentin Tarantino', 4927, 2, 138, 'Directing'),
 ('Gary Trousdale', 4928, 2, 62047, 'Directing'),
 ('Mark Dindal', 4929, 2, 61411, 'Directing'),
 ('Simon West', 4930, 2, 12786, 'Directing'),
 ('Stefen Fangmeier', 4931, 0, 25453, 'Directing'),
 ('Spike Jonze', 4932, 2, 5953, 'Directing'),
 ('Chris Wedge', 4933, 2, 5713, 'Directing'),
 ('Florian Henckel von Donnersmarck', 4934, 2, 8193, 'Directing'),
 ('Peter Hyams', 4935, 2, 37710, 'Directing'),
 ('Tom Tykwer', 4936, 2, 1071, 'Directing'),
 ('Pitof', 4937, 2, 4586, 'Directing'),
 ('Brad Silberling', 4938, 0, 11887, 'Directing'),
 ('Patrick Hughes', 4939, 2, 143059, 'Directing'),
 ('Ericson Core', 4940, 2, 21673, 'Directing'),
 ('Lawrence Guterman', 4941, 0, 64191, 'Directing'),
 ('Ron Underwood', 4942, 2, 33485, 'Directing'),
 ('Steve Martino', 4943, 2, 71729, 'Directing'),
 ('David Mamet', 4944, 2, 1255, 'Directing'),
 ('Zhang Yimou', 4945, 2, 607, 'Directing'),
 ('Ash Brannon', 4946, 2, 12905, 'Directing'),
 ('Frank Oz', 4947, 2, 7908, 'Directing'),
 ('Jay Roach', 4948, 2, 6737, 'Directing'),
 ('Luc Besson', 4949, 2, 59, 'Directing'),
 ('Michael Patrick King', 4950, 2, 38023, 'Directing'),
 ('Don Michael Paul', 4951, 2, 27005, 'Directing'),
 ('Sergei Bodrov', 4952, 0, 130938, 'Directing'),
 ('Wally Pfister', 4953, 2, 559, 'Directing'),
 ('Rupert Wyatt', 4954, 0, 77357, 'Directing'),
 ('Mark Waters', 4955, 2, 54050, 'Directing'),
 ('John Moore', 4956, 2, 12028, 'Directing'),
 ('John Lee Hancock', 4957, 2, 54040, 'Directing'),
 ('Renny Harlin', 4958, 2, 16938, 'Directing'),
 ('Phil Lord', 4959, 0, 107446, 'Directing'),
 ('Ben Stiller', 4960, 2, 7399, 'Directing'),
 ('Tony Bancroft', 4961, 2, 66190, 'Directing'),
 ('Timur Bekmambetov', 4962, 2, 23430, 'Directing'),
 ('Walt Becker', 4963, 2, 68573, 'Directing'),
 ('Dennis Dugan', 4964, 2, 17494, 'Directing'),
 ('Sydney Pollack', 4965, 2, 2226, 'Directing'),
 ('Thor Freudenthal', 4966, 2, 109857, 'Directing'),
 ('Brian De Palma', 4967, 2, 1150, 'Directing'),
 ('Mick Jackson', 4968, 2, 8843, 'Directing'),
 ('Alan J. Pakula', 4969, 2, 6349, 'Directing'),
 ('Kathryn Bigelow', 4970, 1, 14392, 'Directing'),
 ('John Milius', 4971, 2, 8328, 'Directing'),
 ('Andrei Konchalovsky', 4972, 2, 58728, 'Directing'),
 ('Gary Ross', 4973, 2, 23964, 'Directing'),
 ('Paul W.S. Anderson', 4974, 2, 4014, 'Directing'),
 ('Genndy Tartakovsky', 4975, 0, 185438, 'Directing'),
 ('Kevin Lima', 4976, 2, 15775, 'Directing'),
 ('Daniel Espinosa', 4977, 2, 125738, 'Directing'),
 ('Nancy Meyers', 4978, 1, 17698, 'Directing'),
 ('Jill Culton', 4979, 1, 7881, 'Directing'),
 ('Neil Burger', 4980, 2, 17329, 'Directing'),
 ('Jean-Jacques Annaud', 4981, 2, 2352, 'Directing'),
 ('Barry Cook', 4982, 2, 66191, 'Directing'),
 ('Martin Brest', 4983, 2, 769, 'Directing'),
 ('Andrew Davis', 4984, 2, 12989, 'Directing'),
 ('Bob Fosse', 4985, 0, 66777, 'Directing'),
 ('Tarsem Singh', 4986, 2, 56512, 'Directing'),
 ('Edgar Wright', 4987, 2, 11090, 'Directing'),
 ('Jon Amiel', 4988, 2, 15148, 'Directing'),
 ('Peter Segal', 4989, 2, 13426, 'Directing'),
 ('Pete Travis', 4990, 0, 43141, 'Directing'),
 ('George A. Romero', 4991, 2, 14999, 'Directing'),
 ('Sylvester Stallone', 4992, 2, 16483, 'Directing'),
 ('Todd Phillips', 4993, 2, 57130, 'Directing'),
 ('Karey Kirkpatrick', 4994, 2, 52845, 'Directing'),
 ('Gary Winick', 4995, 2, 17046, 'Directing'),
 ('Mimi Leder', 4996, 1, 51984, 'Directing'),
 ('Seth Gordon', 4997, 2, 71600, 'Directing'),
 ('Adam Shankman', 4998, 2, 20739, 'Directing'),
 ('D.J. Caruso', 4999, 2, 40256, 'Directing'),
 ('Anthony Minghella', 5000, 2, 2239, 'Directing'),
 ('Albert Hughes', 5001, 2, 11447, 'Directing'),
 ('Les Mayfield', 5002, 0, 56911, 'Directing'),
 ('Joe Pytka', 5003, 2, 23677, 'Directing'),
 ('Scott Derrickson', 5004, 2, 55499, 'Directing'),
 ('Ivan Reitman', 5005, 2, 8858, 'Directing'),
 ('Eric Brevig', 5006, 2, 9622, 'Directing'),
 ('Kelly Asbury', 5007, 2, 12079, 'Directing'),
 ('Stephen Hopkins', 5008, 2, 2042, 'Directing'),
 ('Jonathan Demme', 5009, 2, 16294, 'Directing'),
 ('Henry Jaglom', 5010, 2, 117075, 'Directing'),
 ('James Algar', 5011, 2, 5690, 'Directing'),
 ('Vincent Ward', 5012, 0, 9198, 'Directing'),
 ('Steven Brill', 5013, 2, 32593, 'Directing'),
 ('Terry Gilliam', 5014, 2, 280, 'Directing'),
 ('Lucile Hadzihalilovic', 5015, 0, 17627, 'Directing'),
 ('Roger Christian', 5016, 2, 5058, 'Directing'),
 ('Joe Dante', 5017, 2, 4600, 'Directing'),
 ('Kevin Costner', 5018, 2, 1269, 'Directing'),
 ('Antony Hoffman', 5019, 2, 56154, 'Directing'),
 ('Jacques Perrin', 5020, 2, 20030, 'Directing'),
 ('Andrs Couturier', 5021, 0, 1172908, 'Directing'),
 ('Roger Allers', 5022, 2, 15812, 'Directing'),
 ('Cody Cameron', 5023, 2, 12095, 'Directing'),
 ('John Singleton', 5024, 2, 6482, 'Directing'),
 ('Oliver Hirschbiegel', 5025, 2, 7832, 'Directing'),
 ('Des McAnuff', 5026, 2, 588701, 'Directing'),
 ('Chris Renaud', 5027, 0, 124748, 'Directing'),
 ('Stephen Norrington', 5028, 2, 10808, 'Directing'),
 ('Pierre Coffin', 5029, 2, 124747, 'Directing'),
 ('David Kellogg', 5030, 2, 4759, 'Directing'),
 ('Mike Nichols', 5031, 2, 5342, 'Directing'),
 ('Vicky Jenson', 5032, 1, 12058, 'Directing'),
 ('F. Gary Gray', 5033, 2, 37932, 'Directing'),
 ('Antoine Fuqua', 5034, 2, 20907, 'Directing'),
 ('Robert Luketic', 5035, 2, 36797, 'Directing'),
 ('Gil Kenan', 5036, 2, 57193, 'Directing'),
 ('Barry Levinson', 5037, 2, 8246, 'Directing'),
 ('Jerry Zucker', 5038, 2, 3415, 'Directing'),
 ('Andy Tennant', 5039, 2, 17167, 'Directing'),
 ('Florent-Emilio Siri', 5040, 0, 1011158, 'Directing'),
 ('Gary Goldman', 5041, 2, 12881, 'Directing'),
 ('Ron Shelton', 5042, 2, 4037, 'Directing'),
 ('lex Pastor', 5043, 2, 94220, 'Directing'),
 ('Henry Selick', 5044, 2, 57646, 'Directing'),
 ('Kyle Balda', 5045, 0, 8023, 'Directing'),
 ('Fergal Reilly', 5046, 0, 52701, 'Directing'),
 ('Judd Apatow', 5047, 2, 41039, 'Directing'),
 ('Steve Carr', 5048, 2, 52112, 'Directing'),
 ('Mel Gibson', 5049, 2, 2461, 'Directing'),
 ('David Silverman', 5050, 2, 197, 'Directing'),
 ('Frank Darabont', 5051, 2, 4027, 'Directing'),
 ('Betty Thomas', 5052, 1, 31024, 'Directing'),
 ('Garry Marshall', 5053, 2, 1201, 'Directing'),
 ('Paul Tibbitt', 5054, 0, 217174, 'Directing'),
 ('Clark Johnson', 5055, 2, 47640, 'Directing'),
 ('Cameron Crowe', 5056, 2, 11649, 'Directing'),
 ('Randall Wallace', 5057, 2, 2460, 'Directing'),
 ('Jonathan Frakes', 5058, 2, 2388, 'Directing'),
 ('George Clooney', 5059, 2, 1461, 'Directing'),
 ('Gary Shore', 5060, 0, 1167470, 'Directing'),
 ('Andrzej Bartkowiak', 5061, 2, 10765, 'Directing'),
 ('Mns Mrlind', 5062, 2, 80923, 'Directing'),
 ('Gregory Hoblit', 5063, 2, 17812, 'Directing'),
 ('Gary McKendry', 5064, 0, 141688, 'Directing'),
 ('Wych Kaosayananda', 5065, 0, 65615, 'Directing'),
 ('Mikael Salomon', 5066, 2, 30149, 'Directing'),
 ('Bobby Farrelly', 5067, 2, 7395, 'Directing'),
 ('Dan St. Pierre', 5068, 0, 15780, 'Directing'),
 ('Kerry Conran', 5069, 2, 41378, 'Directing'),
 ('Michael Caton-Jones', 5070, 2, 30365, 'Directing'),
 ('Mikael Hfstrm', 5071, 0, 29605, 'Directing'),
 ('Phil Alden Robinson', 5072, 2, 23968, 'Directing'),
 ('David Slade', 5073, 2, 27571, 'Directing'),
 ('Joseph Ruben', 5074, 2, 52629, 'Directing'),
 ('Seth MacFarlane', 5075, 2, 52139, 'Directing'),
 ('Alejandro Amenbar', 5076, 2, 19840, 'Directing'),
 ('Kinka Usher', 5077, 0, 59646, 'Directing'),
 ('Craig Gillespie', 5078, 0, 50767, 'Directing'),
 ('Rob Bowman', 5079, 2, 12523, 'Directing'),
 ('Doug Lefler', 5080, 0, 58656, 'Directing'),
 ('Scott Waugh', 5081, 2, 293911, 'Directing'),
 ('Lawrence Kasdan', 5082, 2, 8844, 'Directing'),
 ('Michael Lembeck', 5083, 2, 15045, 'Directing'),
 ('Tom Hooper', 5084, 2, 70500, 'Directing'),
 ('Nora Ephron', 5085, 0, 9248, 'Directing'),
 ('Angelina Jolie', 5086, 1, 11701, 'Directing'),
 ('Clint Eastwood', 5087, 2, 190, 'Directing'),
 ('Larry Charles', 5088, 2, 6767, 'Directing'),
 ('Stanley Kubrick', 5089, 2, 240, 'Directing'),
 ('Will Gluck', 5090, 2, 82511, 'Directing'),
 ('Glenn Ficarra', 5091, 2, 56411, 'Directing'),
 ('David S. Goyer', 5092, 2, 3893, 'Directing'),
 ('Taylor Hackford', 5093, 0, 18596, 'Directing'),
 ('Michael Lehmann', 5094, 2, 7145, 'Directing'),
 ('Stuart Beattie', 5095, 0, 1707, 'Directing'),
 ('Roman Polanski', 5096, 2, 3556, 'Directing'),
 ('Robert Rodriguez', 5097, 0, 2294, 'Directing'),
 ('Baltasar Kormkur', 5098, 2, 67813, 'Directing'),
 ('Daniel Lee', 5099, 2, 57832, 'Directing'),
 ('Keenen Ivory Wayans', 5100, 2, 35689, 'Directing'),
 ('Rob Reiner', 5101, 2, 3026, 'Directing'),
 ('Marco Schnabel', 5102, 2, 71527, 'Directing'),
 ('Demian Lichtenstein', 5103, 2, 71418, 'Directing'),
 ('Josh Gordon', 5104, 2, 60922, 'Directing'),
 ('Tim Hill', 5105, 2, 49903, 'Directing'),
 ('David Frankel', 5106, 2, 5065, 'Directing'),
 ('Marc Lawrence', 5107, 2, 18323, 'Directing'),
 ('Peter Billingsley', 5108, 2, 12708, 'Directing'),
 ('Wes Ball', 5109, 0, 1179066, 'Directing'),
 ('Ryan Murphy', 5110, 2, 52779, 'Directing'),
 ('Robert Redford', 5111, 2, 4135, 'Directing'),
 ('Jay Russell', 5112, 2, 46297, 'Directing'),
 ('Kenny Ortega', 5113, 2, 65310, 'Directing'),
 ('David McNally', 5114, 2, 48980, 'Directing'),
 ('Brian Robbins', 5115, 2, 53177, 'Directing'),
 ('Brian Levant', 5116, 2, 13581, 'Directing'),
 ('Steven Zaillian', 5117, 2, 2260, 'Directing'),
 ('Sam Fell', 5118, 2, 58897, 'Directing'),
 ('Jon Avnet', 5119, 2, 18250, 'Directing'),
 ('Robert Stevenhagen', 5120, 0, 64152, 'Directing'),
 ('Kevin Donovan', 5121, 2, 66654, 'Directing'),
 ('Geoff Murphy', 5122, 2, 32277, 'Directing'),
 ('David O. Russell', 5123, 2, 17883, 'Directing'),
 ('Babak Najafi', 5124, 2, 132239, 'Directing'),
 ('Jean-Pierre Jeunet', 5125, 2, 2419, 'Directing'),
 ('Anthony Stacchi', 5126, 2, 52691, 'Directing'),
 ('Griffin Dunne', 5127, 0, 2171, 'Directing'),
 ('John Pasquin', 5128, 2, 58072, 'Directing'),
 ('Ruben Fleischer', 5129, 2, 91268, 'Directing'),
 ('Harold Ramis', 5130, 2, 1524, 'Directing'),
 ('Kevin Macdonald', 5131, 2, 17350, 'Directing'),
 ('Donald Petrie', 5132, 2, 18281, 'Directing'),
 ('Jorge Blanco', 5133, 2, 117052, 'Directing'),
 ('Stuart Baird', 5134, 2, 2523, 'Directing'),
 ('Joel Coen', 5135, 0, 1223, 'Directing'),
 ('Robert Lorenz', 5136, 2, 4746, 'Directing'),
 ('Harold Becker', 5137, 2, 23213, 'Directing'),
 ('Scott Stewart', 5138, 0, 116357, 'Directing'),
 ('Tony Bill', 5139, 2, 57138, 'Directing'),
 ('Rod Lurie', 5140, 2, 21526, 'Directing'),
 ('Walter Hill', 5141, 2, 1723, 'Directing'),
 ('Akiva Goldsman', 5142, 2, 5575, 'Directing'),
 ('Harald Zwart', 5143, 2, 21981, 'Directing'),
 ('Walter Salles', 5144, 2, 8574, 'Directing'),
 ('Iain Softley', 5145, 2, 1978, 'Directing'),
 ('Frank Miller', 5146, 2, 2293, 'Directing'),
 ('David Koepp', 5147, 2, 508, 'Directing'),
 ('Uwe Boll', 5148, 2, 23799, 'Directing'),
 ('Soi Cheang', 5149, 2, 93991, 'Directing'),
 ('John Dahl', 5150, 2, 21053, 'Directing'),
 ('Tim Miller', 5151, 2, 55252, 'Directing'),
 ('Stephen Herek', 5152, 2, 18356, 'Directing'),
 ('Peter MacDonald', 5153, 2, 16589, 'Directing'),
 ('Anthony Hemingway', 5154, 0, 1216147, 'Directing'),
 ('Sean Anders', 5155, 2, 74619, 'Directing'),
 ('Brian Taylor', 5156, 2, 20192, 'Directing'),
 ('John Madden', 5157, 0, 18844, 'Directing'),
 ('Kevin Bray', 5158, 2, 34453, 'Directing'),
 ('Mike Gabriel', 5159, 2, 65530, 'Directing'),
 ('Sam Weisman', 5160, 2, 54967, 'Directing'),
 ('Jesse Dylan', 5161, 2, 54584, 'Directing'),
 ('Wayne Wang', 5162, 0, 39819, 'Directing'),
 ('Gabriele Muccino', 5163, 2, 20646, 'Directing'),
 ('Tom Dey', 5164, 2, 46076, 'Directing'),
 ('Jimmy Hayward', 5165, 2, 8029, 'Directing'),
 ('Alan Parker', 5166, 2, 9168, 'Directing'),
 ('John Frankenheimer', 5167, 2, 13776, 'Directing'),
 ('Paul King', 5168, 2, 101666, 'Directing'),
 ('Akiva Schaffer', 5169, 2, 62854, 'Directing'),
 ('William Friedkin', 5170, 0, 15175, 'Directing'),
 ('Kent Alterman', 5171, 2, 65702, 'Directing'),
 ('Peter Lord', 5172, 2, 53304, 'Directing'),
 ('Shekhar Kapur', 5173, 2, 37630, 'Directing'),

**Converting Raw data into DataFrame**

In [8]:
#Creating a dataframe, A dataframe contains rows and columns , It is a Two-dimensional, size-mutable, potentially heterogeneous tabular data.

directors=pd.DataFrame(directors,columns=['name','id','gender','uid','department',])

In [9]:
directors

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [10]:
directors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        2349 non-null   object
 1   id          2349 non-null   int64
 2   gender      2349 non-null   int64
 3   uid         2349 non-null   int64
 4   department  2349 non-null   object
dtypes: int64(3), object(2)
memory usage: 91.9+ KB

**3: Check how many movies are present in iMDB**

In [11]:
movies.columns

Index(['id', 'Original_title', 'Budget', 'Popularity', 'Release_date',
       'Revenue', 'Title', 'Vote_average', 'vote_count', 'Overview', 'Tagline',
       'UID', 'Director_id'],
      dtype='object')

In [12]:
directors.columns

Index(['name', 'id', 'gender', 'uid', 'department'], dtype='object')

In [13]:
cur.execute("SELECT COUNT(*) FROM movies")
#the code says that executing an SQL query to count the number of rows in a "movies" table in our SQLite database.
count_movies=cur.fetchall()
#retrieving all rows in query
print("The number of movies in IMBD are:",count_movies[0][0])

The number of movies in IMBD are: 4773

 4: **Find** **these** **3** **directors**: **James** **Cameron** ; **Luc** **Besson**

In [14]:
cur.execute("SELECT * FROM directors WHERE name in ('James Cameron','Luc Besson')")
#Wrutung a query that gives total info of 3 directors
top_directors=cur.fetchall()
#retrieving all values in query

In [15]:
print("The 3 directors are:",top_directors)

The 3 directors are: [('James Cameron', 4762, 2, 2710, 'Directing'), ('Luc Besson', 4949, 2, 59, 'Directing')]

The output says that each director info:

.Director **name** is '**James Cameron**',**id** is **4762**,**gender** is **2(Male)**, **uid** is **2710** and **department** is'**Directing**.'

.Diretor **name** is **Luc Besson**, **id** is **4949**, **gender** is **2(Male)**, **uid** is **59**, **department** is **Directing**.

**5: Find all directors with name** **starting with Steven.**

In [16]:
cur.execute("SELECT * FROM directors WHERE name LIKE 'Steven%' ")
#writing a query that retrieves the values from directors statrting with steven
director_S=cur.fetchall()
#fetching all rows by creating variable

In [17]:
print("The director starting with Steven is: \n \t ",director_S)

The director starting with Steven is:
 	  [('Steven Spielberg', 4799, 2, 488, 'Directing'), ('Steven Soderbergh', 4909, 2, 1884, 'Directing'), ('Steven Brill', 5013, 2, 32593, 'Directing'), ('Steven Zaillian', 5117, 2, 2260, 'Directing'), ('Steven Quale', 5216, 2, 93214, 'Directing'), ('Steven Seagal', 5221, 2, 23880, 'Directing'), ('Steven E. de Souza', 5390, 2, 1726, 'Directing'), ('Steven Shainberg', 5803, 2, 67795, 'Directing'), ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

**6: Count female directors.**

In [18]:
cur.execute("SELECT COUNT(*) AS female_Director FROM directors WHERE gender='1'")
#query that executes the count how many female directors are there
female_dir=cur.fetchall()
#fetching all values

In [19]:
print("The number of female directors are :",female_dir[0][0])

The number of female directors are : 150

**Question 7: Find the name of the 10th first women directors?**

In [20]:
cur.execute("SELECT name FROM directors WHERE gender==1 ORDER BY id" )
#executing a query by using a cursor execute() from directors table to get name of 10th female directorin database
female=cur.fetchall()

In [21]:
print("The 10th female director is:",female[9][0])

The 10th female director is: Angelina Jolie

**8: What are the 3 most popular movies**

In [22]:
movies.columns

Index(['id', 'Original_title', 'Budget', 'Popularity', 'Release_date',
       'Revenue', 'Title', 'Vote_average', 'vote_count', 'Overview', 'Tagline',
       'UID', 'Director_id'],
      dtype='object')

In [23]:
cur.execute("SELECT Original_title FROM movies ORDER BY Popularity desc LIMIT 3")
#Executing a query that provides populat 3 most original_title names
top_3=cur.fetchall()

In [24]:
print(f"The top 3 movies are:",top_3[0][0])
print(f"The top 3 movies are:",top_3[1][0])
print(f"The top 3 movies are:",top_3[2][0])

The top 3 movies are: Minions
The top 3 movies are: Interstellar
The top 3 movies are: Deadpool

**Question 9: What are the 3 most bankable movies**

In [26]:
cur.execute("SELECT Original_title FROM movies ORDER BY Budget DESC limit 3")
#writing a query that highest 3 budget movies
bankable_movies=cur.fetchall()

In [27]:
print(f"The 3 most bankable movies are:",bankable_movies[0][0])
print(f"The 3 most bankable movies are:",bankable_movies[1][0])
print(f"The 3 most bankable movies are:",bankable_movies[2][0])

The 3 most bankable movies are: Pirates of the Caribbean: On Stranger Tides
The 3 most bankable movies are: Pirates of the Caribbean: At World's End
The 3 most bankable movies are: Avengers: Age of Ultron

**10: What is the most awarded average vote since the January 1st, 2000?**

In [28]:
movies.columns

Index(['id', 'Original_title', 'Budget', 'Popularity', 'Release_date',
       'Revenue', 'Title', 'Vote_average', 'vote_count', 'Overview', 'Tagline',
       'UID', 'Director_id'],
      dtype='object')

In [29]:
directors.columns

Index(['name', 'id', 'gender', 'uid', 'department'], dtype='object')

In [30]:
cur.execute("SELECT Original_title FROM movies WHERE Release_date > '2000-01-01' ORDER BY Vote_average DESC LIMIT 1")
#writing a query that taht gets original title who has awarded most avg_voting
avg_vote=cur.fetchall()

In [32]:
print("The most awarded average voting is:",avg_vote[0][0])

The most awarded average voting is: Sardaarji

**11: Which movie(s) were directed by Brenda Chapman?**

In [33]:
cur.execute("SELECT Original_title FROM movies  JOIN directors ON directors.id = movies.director_id WHERE directors.name = 'Brenda Chapman';")
#query that we are using joins to find movie directed by Brenda Chapman
movie_dir=cur.fetchall()

In [34]:
print("The movie directed by Brenda Chapman is:",movie_dir[0][0])

The movie directed by Brenda Chapman is: Brave

**Question 12: Whose director made the most movies?**

In [35]:
cur.execute("SELECT directors.name as most_movies FROM directors JOIN movies ON directors.id=movies.director_id GROUP BY director_id ORDER BY COUNT(name) DESC LIMIT 1 ")
#writing a query by using a cursor execute()
most_movie=cur.fetchall()

In [36]:
print("The director made most movies is:",most_movie[0][0])

The director made most movies is: Steven Spielberg

**13: Whose director is the most bankable?**

In [37]:
cur.execute("SELECT directors.name FROM directors JOIN movies ON movies.director_id=directors.id GROUP BY directors.name ORDER BY SUM(movies.budget) DESC LIMIT 1" )

most_banking=cur.fetchall()

In [39]:
print("The director who is most bankable is:",most_banking[0][0])

The director who is most bankable is: Steven Spielberg

**Budget Analysis**

**1.Tell the top 10 highest budget making movies**

In [40]:
movies.columns

Index(['id', 'Original_title', 'Budget', 'Popularity', 'Release_date',
       'Revenue', 'Title', 'Vote_average', 'vote_count', 'Overview', 'Tagline',
       'UID', 'Director_id'],
      dtype='object')

In [41]:
directors.columns

Index(['name', 'id', 'gender', 'uid', 'department'], dtype='object')

In [42]:
top_10=cur.execute("SELECT * FROM movies ORDER by Budget DESC LIMIT 10")
top_10_budget=cur.fetchall()
top_10=pd.DataFrame(top_10_budget,columns=['id', 'Original_title', 'Budget', 'Popularity', 'Release_date',
                                           'Revenue', 'Title', 'Vote_average', 'vote_count', 'Overview',
                                           'Tagline','UID', 'Director_id'])

In [43]:
top_10

,id,Original_title,Budget,Popularity,Release_date,Revenue,Title,Vote_average,vote_count,Overview,Tagline,UID,Director_id
0,43614,Pirates of the Caribbean: On Stranger Tides,380000000,135,2011-05-14,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,Captain Jack Sparrow crosses paths with a woma...,Live Forever Or Die Trying.,1865,4775
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769
3,43607,Superman Returns,270000000,57,2006-06-28,391081192,Superman Returns,5.4,1400,Superman returns to discover his 5-year absenc...,None,1452,4772
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
5,43603,Tangled,260000000,48,2010-11-24,591794936,Tangled,7.4,3330,When the kingdom's most wanted-and most charmi...,They're taking adventure to new lengths.,38757,4768
6,43602,Spider-Man 3,258000000,115,2007-05-01,890871626,Spider-Man 3,5.9,3576,The seemingly invincible Spider-Man goes up ag...,The battle within.,559,4767
7,43610,The Lone Ranger,255000000,49,2013-07-03,89289910,The Lone Ranger,5.9,2311,The Texas Rangers chase down a gang of outlaws...,Never Take Off the Mask,57201,4763
8,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
9,43605,Harry Potter and the Half-Blood Prince,250000000,98,2009-07-07,933959197,Harry Potter and the Half-Blood Prince,7.4,5293,"As Harry begins his sixth year at Hogwarts, he...",Dark Secrets Revealed,767,4770

**Note:**

The mostExpensive Table Contains List Of Movies With Highest Production Costs.

For Your Information, Pirates of the **Caribbean: On Stranger Tides**, Directed By Rob Marshall, Is The Most Production Costs, It's USD **380,000,000**.


---



---

**Revenue Analysis**

**Question** - **What** **are** **the** **top** **10** **Revenue**
**movies**

In [44]:
rev_10=cur.execute("SELECT * FROM movies ORDER BY Revenue DESC LIMIT 10")
rev_10_movies=cur.fetchall()
rev_10=pd.DataFrame(rev_10_movies,columns=['id', 'Original_title', 'Budget', 'Popularity', 'Release_date',
       'Revenue', 'Title', 'Vote_average', 'vote_count', 'Overview', 'Tagline',
       'UID', 'Director_id'])

In [45]:
rev_10

,id,Original_title,Budget,Popularity,Release_date,Revenue,Title,Vote_average,vote_count,Overview,Tagline,UID,Director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43622,Titanic,200000000,100,1997-11-18,1845034188,Titanic,7.5,7562,"84 years later, a 101-year-old woman named Ros...",Nothing on Earth could come between them.,597,4762
2,43613,The Avengers,220000000,144,2012-04-25,1519557910,The Avengers,7.4,11776,When an unexpected enemy emerges and threatens...,Some assembly required.,24428,4769
3,43625,Jurassic World,150000000,418,2015-06-09,1513528810,Jurassic World,6.5,8662,Twenty-two years after the events of Jurassic ...,The park is open.,135397,4783
4,43641,Furious 7,190000000,102,2015-04-01,1506249360,Furious 7,7.3,4176,Deckard Shaw seeks revenge against Dominic Tor...,Vengeance Hits Home,168259,4794
5,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769
6,43721,Frozen,150000000,165,2013-11-27,1274219009,Frozen,7.3,5295,Young princess Anna of Arendelle dreams about ...,Only the act of true love will thaw a frozen h...,109445,4844
7,43628,Iron Man 3,200000000,77,2013-04-18,1215439994,Iron Man 3,6.8,8806,When Tony Stark's world is torn apart by a for...,Unleash the power behind the armor.,68721,4784
8,44143,Minions,74000000,875,2015-06-17,1156730962,Minions,6.4,4571,"Minions Stuart, Kevin and Bob are recruited by...","Before Gru, they had a history of bad bosses",211672,5045
9,43623,Captain America: Civil War,250000000,198,2016-04-27,1153304495,Captain America: Civil War,7.1,7241,"Following the events of Age of Ultron, the col...",Divided We Fall,271110,4781

**Note**:

The mostProfit Table Shows The 10 Movies Got The Highest Gross Profit When Compared To The Other Movies.

It Turns Out That **Avatar** Directed By James Cameron Got A Gross Profit USD
**2**,**787**,**965**,**087**. It's Make Avatar In First Place, Followed By **Titanic**, **The** **Avengers**, **Jurassic World**, And Others.

From The Table, It Can Be Seen That James Cameron Make Two Movies To Fill The First And Second Place On The Rankings.


---



---

**Voting Analysis**

**Question - List out popular movie for Voting average and votecount**

In [46]:
movies.columns

Index(['id', 'Original_title', 'Budget', 'Popularity', 'Release_date',
       'Revenue', 'Title', 'Vote_average', 'vote_count', 'Overview', 'Tagline',
       'UID', 'Director_id'],
      dtype='object')

In [47]:
directors.columns

Index(['name', 'id', 'gender', 'uid', 'department'], dtype='object')

In [48]:
cur.execute("SELECT * FROM movies ORDER BY Vote_average DESC LIMIT 10")
pop_voting=cur.fetchall()
pop_voting=pd.DataFrame(pop_voting,columns=['id', 'Original_title', 'Budget', 'Popularity', 'Release_date',
       'Revenue', 'Title', 'Vote_average', 'vote_count', 'Overview', 'Tagline',
       'UID', 'Director_id'])

In [49]:
pop_voting

,id,Original_title,Budget,Popularity,Release_date,Revenue,Title,Vote_average,vote_count,Overview,Tagline,UID,Director_id
0,47116,Stiff Upper Lips,0,0,1998-06-12,0,Stiff Upper Lips,10.0,1,Stiff Upper Lips is a broad parody of British ...,None,89861,6332
1,47642,"Dancer, Texas Pop. 81",0,0,1998-05-01,565592,"Dancer, Texas Pop. 81",10.0,1,"Four guys, best friends, have grown up togethe...",in the middle of nowhere they had everything,78373,5463
2,47589,Sardaarji,0,0,2015-06-26,0,Sardaarji,9.5,2,A ghost hunter uses bottles to capture trouble...,None,346081,6588
3,45983,One Man's Hero,0,0,1999-08-02,0,One Man's Hero,9.3,2,One Man's Hero tells the little-known story of...,One man's hero is another man's traitor.,69848,5770
4,45478,The Shawshank Redemption,25000000,136,1994-09-23,28341469,The Shawshank Redemption,8.5,8205,Framed in the 1940s for the double murder of h...,Fear can hold you prisoner. Hope can set you f...,278,5051
5,46567,There Goes My Baby,10500000,0,1994-09-02,123509,There Goes My Baby,8.5,2,A group of high school seniors meets in the su...,None,88641,6051
6,46393,The Prisoner of Zenda,0,4,1937-09-03,0,The Prisoner of Zenda,8.4,11,An Englishman on a Ruritarian holiday must imp...,The most thrilling swordfight ever filmed...,43867,5972
7,46934,The Godfather,6000000,143,1972-03-14,245066411,The Godfather,8.4,5893,"Spanning the years 1945 to 1955, a chronicle o...",An offer you can't refuse.,238,5179
8,44259,Fight Club,63000000,146,1999-10-15,100853753,Fight Club,8.3,9413,A ticking-time-bomb insomniac and a slippery s...,Mischief. Mayhem. Soap.,550,4829
9,45415,Schindler's List,22000000,104,1993-11-29,321365567,Schindler's List,8.3,4329,The true story of how businessman Oskar Schind...,"Whoever saves one life, saves the world entire.",424,4799

**Note**:

BestVote Table Contains The Best Movies By Vote. **Stiff Upper Lips**, Directed By **Gary Sinyor** And **Dancer**, **Texas **Pop **bold text**. **81** Directed by the **MacCanlies** Was Successfully Becomes the Best Movies By Vote With Perfect Score, 10.

However, There Are Anomalies. It Turned Out That The Two Movies Were Only Vote By One Person. So, Likely to Affect The Assessment Results.


---

**Director Analysis**

**Question:Name all the directors with the number of movies and revenue**

In [51]:
cur.execute("SELECT name,COUNT(Original_title) as 'no.of_movies',SUM(Revenue) as 'total_revenues' FROM directors JOIN movies ON directors.id=movies.Director_id GROUP BY name ORDER BY SUM(revenue) DESC LIMIT 10 ")
dir_movies_rev=cur.fetchall()
dir_movies_rev=pd.DataFrame(dir_movies_rev,columns=['name','no.of_movies','total_revenues'])

In [52]:
dir_movies_rev

                name  no.of_movies  total_revenues
0   Steven Spielberg            27      9147393164
1      Peter Jackson             9      6498642820
2      James Cameron             7      5883569439
3        Michael Bay            12      5832524638
4  Christopher Nolan             8      4227483234
5     Chris Columbus            11      3725631503
6    Robert Zemeckis            13      3590622002
7       George Lucas             5      3339113893
8         Tim Burton            14      3337418241
9       Ridley Scott            16      3189557997

**Note:**

The mostProfitableDirector Table Shows The Directors With The Highest Gross Profit.

Currently, **Steven Spielberg** Is The Director With The Most Gross Profit, with USD **9,147,393,164** from his **27** movies.

Then, **Peter Jackson **With USD **6,498,642,820** then next **James Cameron** With USD **5,883,569,439** And The Other Directors.


---

**Question.Name all the directors with the number of movies and revenue where number of movies should be taken into accountfor doing the analysis.The director who has highest number of movies should comes at the top and so on**

In [53]:
cur.execute("SELECT name,COUNT(Original_title) as 'total_movies',SUM(Revenue) as 'total_revenue' FROM directors JOIN movies ON directors.id=movies.Director_id GROUP BY Director_id ORDER BY COUNT(Original_title) DESC LIMIT 10")
most_movies=cur.fetchall()
most_movies=pd.DataFrame(most_movies,columns=['name','total_movies','total_revenue'])

In [54]:
most_movies

                name  total_movies  total_revenue
0   Steven Spielberg            27     9147393164
1        Woody Allen            21      669101038
2     Clint Eastwood            20     2512058888
3    Martin Scorsese            20     1956635998
4          Spike Lee            16      340618771
5   Robert Rodriguez            16     1109899581
6       Ridley Scott            16     3189557997
7       Renny Harlin            15     1031500590
8  Steven Soderbergh            15     2114864443
9       Oliver Stone            14     1278048615

**Next:**

The mostProductiveDirector Table Contains The Name Of The Director And The Number Of Movies It Has Directed By Him.

**Steven Spielberg** Is The Most Productive Director With **27 Movies **Titles He Has Directed. Meanwhile, **Woody Allen** Has Only **21 Movies **Titles.

Then, **Martin Scorsese** And **Clint Eastwood** With 20 Movies Titles.


---



---

**Question- By doing Director analysis We know Steven Spielberg is the highest revenue, so list the Steven Spielberg movies info**

In [55]:
movies.columns

Index(['id', 'Original_title', 'Budget', 'Popularity', 'Release_date',
       'Revenue', 'Title', 'Vote_average', 'vote_count', 'Overview', 'Tagline',
       'UID', 'Director_id'],
      dtype='object')

In [56]:
cur.execute("SELECT original_title, release_date, budget, revenue, popularity, vote_average  FROM directors JOIN movies ON directors.id=movies.Director_id WHERE name='Steven Spielberg' ")
steven=cur.fetchall()
steven=pd.DataFrame(steven,columns=['original_title','release_date', 'budget', 'revenue', 'popularity','vote_average'] )

In [57]:
steven

,original_title,release_date,budget,revenue,popularity,vote_average
0,Indiana Jones and the Kingdom of the Crystal S...,2008-05-21,185000000,786636033,75,5.7
1,The BFG,2016-06-01,140000000,183345589,44,6.0
2,War of the Worlds,2005-06-28,132000000,591739379,48,6.2
3,The Adventures of Tintin,2011-10-25,130000000,371940071,89,6.7
4,Minority Report,2002-06-20,102000000,358372926,65,7.1
5,A.I. Artificial Intelligence,2001-06-29,100000000,235926552,34,6.8
6,The Lost World: Jurassic Park,1997-05-23,73000000,229074524,2,6.2
7,The Terminal,2004-06-17,60000000,219417255,57,7.0
8,Munich,2005-12-22,70000000,130358911,29,6.9
9,Hook,1991-12-11,70000000,300854823,33,6.6
10,War Horse,2011-12-25,66000000,177584879,29,7.0
11,Saving Private Ryan,1998-07-24,70000000,481840909,76,7.9
12,Lincoln,2012-11-09,65000000,275293450,36,6.7
13,Jurassic Park,1993-06-11,63000000,920100000,40,7.6
14,Catch Me If You Can,2002-12-25,52000000,352114312,73,7.7
15,Indiana Jones and the Last Crusade,1989-05-24,48000000,474171806,80,7.6
16,Bridge of Spies,2015-10-15,40000000,165478348,48,7.2
17,Amistad,1997-12-03,36000000,74000000,3,6.8
18,1941,1979-12-13,35000000,31755742,10,5.6
19,Indiana Jones and the Temple of Doom,1984-05-23,28000000,333000000,66,7.1
20,Schindler's List,1993-11-29,22000000,321365567,104,8.3
21,Raiders of the Lost Ark,1981-06-12,18000000,389925971,68,7.7
22,Close Encounters of the Third Kind,1977-11-16,20000000,303788635,52,7.2
23,The Color Purple,1985-12-18,15000000,146292009,17,7.7
24,Jaws,1975-06-18,7000000,470654000,50,7.5
25,E.T. the Extra-Terrestrial,1982-04-03,10500000,792910554,56,7.3
26,Twilight Zone: The Movie,1983-06-24,10000000,29450919,12,6.2

**Note:**

From Two Tables Above, mostProfitableDirector And mostProductiveDirector, It Can Be Seen That Steven Spielberg Is Always In The First Place.

It Can Be Understood That Steven
Spielberg Has Produced Many And Incredible Movies That Are Shows In The Table MoviesByStevenSpielberg Above.